/target/
/target/*
dependency-reduced-pom.xml
.DS_Store
/idea/
/idea/*
/.idea/
/.idea/*
target
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/encodings.xml
.idea/misc.xml
